
.signinup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  color: #fff;
}
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #000;
  }

  input {
    width: 250px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
  }

  button {
    width:250px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
  }
  
  .Login_btn {
    width:270px;
    padding: 10px;
    background-color: #c2b280;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    margin: auto; 
    display: block;
  }

  .Register_btn {
    width:270px;
    padding: 10px;
    background-color: #c2b280;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    margin: auto; 
    display: block;
  }

  p a:hover {
    text-decoration: underline;
  }

  .have-account-text {
    color: #000;
  }

 